# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning

php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days

services:
	router: App\RouterFactory::createRouter
	- Discussion\Services\CommentsService
	- Discussion\Components\CommentsControlFactory

extensions:
    autowired: Kdyby\Autowired\DI\AutowiredExtension
    dibi: Dibi\Bridges\Nette\DibiExtension22
    deaw: Kappa\Deaw\DI\DeawExtension